@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        Approaches for displaying list that was sourced from joined tables
        <ul>
        <li><a href="/Home/ListUsingStronglyTypedModel">Strong model (assisted by a <i>buddy-class</i>)</a></li>
        <li><a href="/Home/ListUsingDynamicModelAssistedByJson">Dynamic model (assisted by JSON)</a></li>
        </ul>
    </div>
</body>
</html>
